.row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0;

    &__col {
        width: 20%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        border-bottom: 1px solid $black;

        &.delete,
        &.result {
            width: auto;
            border: none;
        }

        &-label {
            font-family: sans-serif;
            font-size: 12px;
        }

        &-input {
            width: 100%;
            margin: 5px 0;
            font-size: 14px;
            appearance: none;
        }

        &-result {
            font-weight: bold;
            font-family: sans-serif;
            font-size: 16px;
        }

        &-delete {
            cursor: pointer;
            background-color: transparent;
            text-transform: uppercase;
            font-weight: bold;
            font-family: sans-serif;
            color: $red;
        }
    }
}
