.form {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 20px 0 0 0;

  &__row {
    width: 100%;
    margin: 15px 0;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &.error {
      background-color: rgba($red, .3);
    }

    &.items {
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
    }

    &-item {
      width: 48%;

      &.error {
        background-color: rgba($red, .3);
      }

      &.total {
        font-family: sans-serif;
        font-size: 25px;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }

  &__addRow {
    cursor: pointer;
    background-color: transparent;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    color: $blue;
  }

  &__submit {
    padding: 15px;
    cursor: pointer;
    background-color: $blue;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    color: $white;
  }

  &__success {
    font-size: 18px;
    padding: 15px 0;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    color: $green;
  }
}
