.listItem {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    padding: 20px 15px;
    cursor: pointer;
    border: 3px solid $black;
    transition: all $easeInOutQuad .3s;
    position: relative;

    &:hover {
        transform: translateX(2px);
        border: 3px solid $blue;

        .listItem__download {
            opacity: 1;
        }
    }

    &__label {
        font-family: sans-serif;
        font-size: 22px;
    }

    &__download {
        text-transform: uppercase;
        font-family: sans-serif;
        font-size: 22px;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 999;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba($blue, .4);
        color: $white;
        font-weight: bold;
        opacity: 0;
        cursor: pointer;
        @include transform(translate(-50%, -50%));
        @include transition(all $easeOutSine .3s);
    }
}
