.dashboard {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  &__sidebar {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  &__content {
    width: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 15px;
    background-color: $grey;
    height: 100%;

    &-wrapper {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      background-color: $white;
      padding: 30px 15px;
      height: 100%;
      overflow-y: scroll;
    }
  }
}
