.sidebar {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  padding: 40px 20px 0 20px;
  flex-direction: column;

  &__title {
    font-family: sans-serif;
    color: #000;
    font-weight: bold;
    font-size: 25px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all ease-in-out .3s;

    &:hover {
      color: rgba(0, 0, 0, .6);
    }
  }

  &__links {
    width: 100%;
    padding: 0 0 0 15px;
    list-style: none;

    &-item {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin: 15px 0;

      a {
        font-family: sans-serif;
        color: #000;
        font-size: 18px;
        text-transform: uppercase;
        text-decoration: none;
        transition: all ease-in-out .3s;

        &:hover {
          transform: translateX(5px);
          color: rgba(0, 0, 0, .6);
        }
      }
    }
  }
}
