.input {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid $black;

    &__label {
        font-family: sans-serif;
        font-size: 12px;
    }

    &__field {
        width: 100%;
        margin: 5px 0;
        font-size: 14px;
        appearance: none;
        background-color: transparent;
    }
}
